:root {
    /* color code */

    --white: #ffffff;

    --black: #1c1c1a;

    --black-111: #111;

    --dark-333: #333333;

    --blue: #105293;

    --blue-A2B: #a2b9cf;

    --secondary-color: #0d5e4c;

    --grey-585: #58595b;

    /* font family */

    /* --heading-font: "Playfair Display", serif; */

    --body-font: "Zalando Sans", sans-serif;

    --head-semi: "Zalando Sans SemiExpanded", sans-serif;

    --allura: "Allura", cursive;
}

* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

/* Native smooth scrolling fallback for browsers and elements not handled by ScrollSmoother */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f8fb;

    color: var(--grey-585);

    font-family: var(--body-font);

    font-size: 16px;

    font-weight: 400;

    line-height: 24px;

    overflow-x: hidden;
}

a {
    text-decoration: none;

    color: inherit;
}

.title_80 {
    color: var(--white);

    font-family: var(--head-semi);

    font-size: 80px;

    font-weight: 800;

    mix-blend-mode: soft-light;
}

.title_60 {
    color: var(--blue);

    font-family: var(--head-semi);

    font-size: 60px;

    font-weight: 600;
}

.title_42 {
    color: var(--blue);

    font-size: 42px;

    font-weight: 600;
}

.title_34 {
    color: var(--black-111);

    font-size: 34px;

    font-weight: 500;

    line-height: 34px;
}

.title_24 {
    color: var(--black-111);

    font-size: 18px;

    font-weight: 500;

    line-height: 34px;
}

.mt_100 {
    margin-top: 100px;
}

.mb_100 {
    margin-bottom: 100px;
}

.mt_80 {
    margin-top: 80px;
}

.mb_80 {
    margin-bottom: 80px;
}

.mt_60 {
    margin-top: 60px;
}

.mb_60 {
    margin-bottom: 60px;
}

.mt_40 {
    margin-top: 40px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_30 {
    margin-bottom: 30px;
}

/* button hover effect  */

.com_btn {
    display: inline-block;

    padding: 12px 34px;

    position: relative;

    color: var(--grey-585);

    border: 1px solid var(--grey-585);

    font-size: 18px;

    line-height: 18px;

    font-weight: 400;

    overflow: hidden;

    background: transparent;

    transition: color 0.5s;

    z-index: 1;
}

.com_btn:hover {
    color: var(--white); /* changed to pure white for better visibility */
}

.com_btn:before,
.com_btn:after {
    position: absolute;

    top: 50%;

    content: "";

    width: 20px;

    height: 20px;

    background: radial-gradient(
        561.33% 75.38% at 56.26% 52.09%,

        #1f3566 0%,

        #243f7a 50%,

        #1c2f5a 100%
    );

    border: 1px solid var(--blue);

    border-radius: 50%;

    z-index: -1; /* behind the text */

    transition: all 0.7s ease;
}

.com_btn:before {
    left: -30px;

    transform: translate(-50%, -50%);
}

.com_btn:after {
    right: -30px;

    transform: translate(50%, -50%);
}

/* Collision Animation */

@keyframes criss-cross-left {
    0% {
        left: -30px;

        width: 20px;

        height: 20px;
    }

    40% {
        left: 50%;

        width: 30px;

        height: 30px;
    }

    100% {
        left: 50%;

        width: 500px;

        height: 500px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -30px;

        width: 20px;

        height: 20px;
    }

    40% {
        right: 50%;

        width: 30px;

        height: 30px;
    }

    100% {
        right: 50%;

        width: 500px;

        height: 500px;
    }
}

.com_btn:hover:before {
    animation: criss-cross-left 0.9s forwards;
}

.com_btn:hover:after {
    animation: criss-cross-right 0.9s forwards;
}

/* Make sure text stays above everything */

.com_btn span {
    position: relative;

    z-index: 2;
}

.com_btn_2 {
    color: var(--blue);

    border: 1px solid var(--blue);

    padding: 12px 54px;
}

.com_btn_3 {
    background: var(--white);

    border-color: var(--white);

    color: var(--blue);
}

.text-111 {
    color: var(--black-111);
}

.text-585 {
    color: var(--grey-585);
}

.text-105 {
    color: var(--blue);
}

/* Modal css start*/

.industry-enquiry-modal .modal,
.inquiry-modal .modal,
.product-enquiry-modal .modal {
    background-color: #f5f8fb61;

    z-index: 9999;

    backdrop-filter: blur(2px);
}

.industry-enquiry-modal .modal-content,
.inquiry-modal .modal-content,
.product-enquiry-modal .modal-content {
    background-color: #f5f8fb;
}

.iti__selected-dial-code {
    color: var(--black-111);
}

.iti__arrow {
    border-top: 4px solid var(--black-111) !important;
}

.iti__arrow--up {
    border-bottom: none;
}

/* Modal css ends*/

/* product listing page css */
.btn-group {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

/* whatsapp inquiry pop up  css start*/
.Whats_mpp_modal .popup-box_whatsapp {
    border-radius: 16px;
    /* overflow: hidden;   */
}

/* Header */
.Whats_mpp_modal .popup-header {
    background: var(--blue);
    color: #fff;
    padding: 15px 20px;
}

.Whats_mpp_modal .popup-header h5 {
    margin: 0;
    font-weight: 600;
}

.Whats_mpp_modal .white-close {
    filter: invert(1);
}

/* Body */
.Whats_mpp_modal .popup-box_whatsapp .modal-body {
    padding: 25px;
}

/* Inputs */
.Whats_mpp_modal .popup-input {
    border-radius: 12px;
    height: 50px;
    border: 1px solid #ddd;
    box-shadow: none !important;
}

.Whats_mpp_modal .popup-input:focus {
    border-color: var(--blue);
}

/* Textarea */
.Whats_mpp_modal textarea.popup-input {
    height: 90px;
}

/* Button */
.Whats_mpp_modal .popup-btn {
    background: var(--blue);
    color: #fff;
    height: 50px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
}

.Whats_mpp_modal .popup-btn:hover {
    background: var(--blue);
    color: #fff;
}

/* intl tel input full width */
.Whats_mpp_modal .iti {
    width: 100%;
}

.Whats_mpp_modal .iti__selected-flag {
    border-radius: 10px 0 0 10px;
}

/* Remove modal scroll */
.Whats_mpp_modal .modal-dialog {
    max-width: 420px;
}

.Whats_mpp_modal .modal-content {
    /* overflow: hidden; */
}
.WhatsAppButton_mpp {
    background: #14a614;
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 999999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(20, 166, 20, 0.7);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(20, 166, 20, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(20, 166, 20, 0);
    }
}

.WhatsAppButton_mpp img {
    width: 100%;
    height: 100%;
}
.whatsapp-popup {
    position: fixed;
    right: 80px;
    bottom: 70px;
    width: 360px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease;
}

.whatsapp-popup.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.modal-backdrop.show {
    opacity: 0;
    z-index: -1;
}

/* whatsapp inquiry pop up  css eds*/

/* Breadcrumb nav css start*/
.navi_page_child .title_24 {
    font-size: 14px;
}

.text-white p {
    color: inherit;
    margin-bottom: 0;
}

.text-585 p {
    color: var(--grey-585) !important;
}
